.container {
	display: flex;
	flex-direction: column;
	justify-items: stretch;
}

.container.empty {
	display: none;
}

.header {
	padding: 0.25em 0.5em;

	color: var(--bg-color);
	background-color: var(--fg-color);
	font-weight: bold;

	border-top-left-radius: var(--border-radius);
}

.weekday::after {
	content: ", ";
}

.body {
	flex-grow: 1;
	min-height: 2em;

	border: 1px solid var(--fg-color);
	border-bottom-right-radius: var(--border-radius);
}

@media all and (min-width: 500px) {
	.container.empty {
		display: flex;
	}
}
