.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.button {
	height: 1.5em;
	width: 1.5em;
	align-self: center;

	font-size: var(--largest-font-size);
	font-weight: bold;

	color: var(--fg-color);
	background-color: var(--bg-color);
	border: 1px solid var(--fg-color);
}

.button:disabled {
	color: var(--mid-color);
	border-color: var(--mid-color);
}

.button:not(:disabled):hover {
	cursor: pointer;
	color: var(--bg-color);
	background-color: var(--fg-color);
}

.month {
	margin: 0 0.5em;
	/* set a min width that accomodates "November", so buttons stay in the same place */
	min-width: 6em;
	text-align: center;
}
