.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.button {
	height: 1.5em;
	width: 1.5em;
	align-self: center;

	font-size: var(--largest-font-size);
	font-weight: bold;

	color: var(--fg-color);
	background-color: var(--bg-color);
	border: 1px solid var(--fg-color);
}

.button:disabled {
	color: var(--mid-color);
	border-color: var(--mid-color);
}

.button:not(:disabled):hover {
	cursor: pointer;
	color: var(--bg-color);
	background-color: var(--fg-color);
}

.shortMonth {
	margin: 0;
	/* set a min width, so buttons stay in the same place */
	min-width: 3em;
	text-align: center;
}

.longMonth {
	display: none;
}

@media all and (min-width: 600px) {
	.shortMonth {
		display: none;
	}

	.longMonth {
		display: block;

		margin: 0;
		/* set a min width that accomodates "September", so buttons stay in the same place */
		min-width: 7em;
		text-align: center;
	}

}
