body {
	font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

	--bg-color: #0e0e0e;
	--mid-color: #888;
	--fg-color: #efefef;

	background-color: var(--bg-color);
	color: var(--fg-color);

	--largest-font-size: 32px;
	--large-font-size: 24px;
	--regular-font-size: 16px;
	--small-font-size: 12px;
	--smallest-font-size: 10px;

	font-size: var(--regular-font-size);

	--border-radius: 0.5em;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}
