.main {
	display: grid;
	grid-template-columns: 1fr 2em auto 20em 2em 1fr;
	grid-template-areas:
		'. . header   header  . .'
		'. . calendar sidebar . .'
	;
}

.header {
	grid-area: header;
}

.calendar {
	grid-area: calendar;
}

.sidebar {
	grid-area: sidebar;
}
