.badge {
	display: flex;
	align-items: center;
	padding: 0 0.25em;

	color: var(--fg-color);
	background-color: var(--color);

	border: 1px solid var(--color);
}

.badge:visited {
	color: var(--fg-color);
}

.badge:hover {
	color: var(--color);
	background-color: var(--bg-color);
}

.youtube {
	--color: #da281e;
}

.twitch {
	--color: #a970ff;
}
